.alta-profesionales{
    background-color:#d7f5f6;
    padding: 1rem;
}
.alta-profesionales h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
	font-family: "Merriweather Sans", sans-serif;
	font-weight: 500;
	text-align: center;
	font-size: 1.5rem;
	color: hwb(191 15% 49%);
}
.alta-profesionales p{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 1.2rem;
	color: hwb(191 15% 49%);
}
.form-alta-profesionales{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form-alta-profesionales p{
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
	font-weight: 500;
	text-align: center;
	font-size: 1.1rem;
	color: hwb(191 15% 49%);
}
.form-alta-profesionales input[type="submit"]{
    padding: .8rem;
	border-radius: 2rem;
	border: none;
	color: #277281;
	background: #d7f5f6;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 1rem;
	font-style: normal;
    margin-bottom: 2rem;
}
.form-alta-profesionales input[type="submit"]:hover{
    background: #00b4d8;
	color: #FFFFFF;
}
.form-alta-profesionales select{
	font-family: "Merriweather Sans", sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 1rem;
	color: #277281;
    border-radius: 1rem;
    background-color: #FFFFFF;
    margin: 2rem;
}
.formulario{
    align-items: center;
    width: 40%;
    margin: 40px 0 0px 0;
}
.formulario label{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    border-radius: 20px;
    border-color: #277281;
    border: 1px solid #277281;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.formulario label input{
    width: 80%;
    padding: 1rem;
    background-color: #ffffff;
    color: #277281;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1rem;
}
.formulario label input[type="date"]{
    width: 100%;
    padding: 1rem;
    background-color: #ffffff;
    color: #277281;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1rem;
}
.formulario label i{
    color: #277281;
}
.formulario a{
    margin: 1rem;
    font-family: "Roboto", sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 1.2rem;
	color: hwb(191 15% 49%);
}
.cedula{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.cedula input{
    width: 37%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border-color: #277281;
    border: 1px solid #277281;
    padding: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #277281;
    font-size: 1rem;
}
.cedula label{
    padding: 1rem;
    background-color: #ffffff;
    color: #277281;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1rem;
}