<footer>
	<div class="footer-content">
		<div class="info-footer">
			<p class="titulo">¡Estás a solo un paso de<br>apostar por el bienestar!</p>
			<p class="texto">¿Sabes dónde encontrarnos?</p>
			<p class="texto">Av. Oceáno Atlántico #816A.<br>Col. Santa María</p>
			<p class="titulo">¡Agenda tu cita!</p>
			<a href="https://api.whatsapp.com/send?phone=524794056723&text=Hola!%20buenas%20tardes" target="_blank">
				<div class="info-item-footer">
					<span class="material-symbols-outlined">call</span>
					<label>479 405 6723</label>
				</div>
			</a>
			<p class="texto"></p>
			<a href="mailto:merakinfo@gmail.com" target="_blank"><p class="texto">merakinfo@gmail.com</p></a>
			<p class="titulo">Horarios</p>
			<p class="texto">Lunes a viernes: 10:00 a.m. - 7:00 p.m.</p>
			<p class="texto">Sabado: 10:00 a.m. - 2:30 p.m. </p>
		</div>
		<div class="mapa-footer">
			<div class="mapa-content">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59559.26192316968!2d-101.69689797865!3d21.094463887098645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bbf1bc9b8f0d1%3A0xe56d2847a6816c3e!2sMERAK%20QUIROPR%C3%81CTICA%20Y%20FISIOTERAPIA!5e0!3m2!1ses-419!2smx!4v1716071742719!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="logo-container">
			<a href="../Informacion/principal.php">
				<img class="logo-footer" src="../../Images/logo_merak_horizontal.png">	
			</a>
		</div>
		<div class="terminos-y-condiciones">
			<p>Política de privacidad - Contacto <br>
			 © 2024 Merak: Quiropráctica y Fisioterapia</p>
		</div>
		<div class="redes">
			<a href="https://www.facebook.com/profile.php?id=61558043526517" target="_blank">
				<div class="info-item">
					<img class="icono" src="../../Images/facebook-3-2.svg" alt="">
				</div>
			</a>
		</div>
	</div>
</footer>